@import "vars";


/*==========  Desktop First  ==========*/

// ---LG 1199px---
@media screen and (max-width: 1199px) { 
	.container {
		max-width: $lg;;
	}
 } 
// ---LG 1199px---END



// ---MD 991px---
@media screen and (max-width: 991px) { 
	.container {
		max-width: $md;
	}
	
 } 
// ---MD 991px---END



// ---SM 768px---
@media screen and (max-width: 768px) {
	.container {
		max-width: $sm;;
	}
	} 
// ---SM 768px---


// ---XS 575px---
@media screen and (max-width: 575px) { 
	max-width: $xs;;
 }
// ---XS 575px---END
